
body{
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family:monospace;
  color: #222222;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
